<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>客户管理</title>
	<!-- css&js -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	<link rel="stylesheet" href="/static/css/print.css" media="print" />
	<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<!-- /css&js -->
</head>

<body style="background-color: white;">
	<div class="nav-child">
		<div style="position: fixed; background-color: white; width: 100%;">
			<ul class="nav nav-pills">
				<li class="active"><a href="#func-1" data-toggle="tab" class="print_hidden">客户列表</a></li>
				<li><a href="#func-2" data-toggle="tab" class="print_hidden">新增客户</a></li>
				<!-- 查询 -->
				<form action="/khpg" method="get" style="width: 300px; float: right;" class="print_hidden">
					<div class="input-group" style="margin-top: 3px; margin-right: 3px;">
						<input type="text" name="s" class="form-control" placeholder="请输入查询的单位">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">查询</button>
						</span>
					</div>
				</form>
			</ul>
			<hr>
		</div>
		<!-- 子功能页面 -->
		<div id="myTabContent" class="tab-content" style="margin: 0;">
			<!-- 客户列表 -->
			<div class="tab-pane in active" id="func-1" style="padding: 42px 0 0 0;">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>邮编</th>
							<th>地址</th>
							<th>电话</th>
							<th>单位</th>
							<th>联系人</th>
							<th style="width: 120px;" class="print_hidden">操作</th>
						</tr>
					</thead>

					<tbody>
						{% for row in customers_suppliers %}
						<tr>
							<td style="vertical-align: middle">{{ row.cs_postCode }}</td>
							<td style="vertical-align: middle">{{ row.cs_address }}</td>
							<td style="vertical-align: middle">{{ row.cs_tel }}</td>
							<td style="vertical-align: middle">{{ row.cs_unit }}</td>
							<td style="vertical-align: middle">{{ row.cs_name }}</td>
							<td style="vertical-align: middle" class="print_hidden">
								<a href="/edit_customers_page?id={{ row.id }}"><button style="padding: 2px 4px;"
										class="btn btn-success">编辑</button></a>

								<!-- 删除 -->
								<button type="button" class="btn btn-danger" data-toggle="modal"
									data-target="#{{ row.id }}" style="padding: 2px 4px;">删除</button>
								<!-- 删除提示框 -->
								<div class="modal fade" id={{ row.id }} tabindex="-1" role="dialog"
									aria-labelledby="mySmallModalLabel">
									<div class="modal-dialog modal-sm" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title">提示</h4>
											</div>
											<div class="modal-body">
												<p>确认删除吗？</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default"
													data-dismiss="modal">取消</button>
												<a href="/del_customers?id={{ row.id }}"><button
														class="btn btn-danger">确认删除</button></a>
											</div>
										</div>
									</div>
								</div>
								<!-- 删除提示框 -->
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<!-- 新增客户 -->
			<div class="tab-pane" id="func-2"
				style="padding: 100px 20px 0 20px; width: 550px; margin: auto; position: absolute; top: 0; left: 0; right: 0; bottom: 0;">
				<form action="add_customers" method="POST" onSubmit="return beforeSubmit(this);">
					{% csrf_token %}
					<label>类别</label>
					<input type="text" name="cs_attitude" value="客户" readonly class="form-control" id="inputSuccess1"
						aria-describedby="helpBlock2">
					<label>邮编</label>
					<input type="number" name="cs_postCode" oninput="if(value.length>6)value=value.slice(0,6)"
						class="form-control" aria-describedby="helpBlock2">
					<label>地址</label>
					<input type="text" name="cs_address" class="form-control" id="inputSuccess1"
						aria-describedby="helpBlock2">
					<label>电话</label>
					<input id="cs_tel" type="number" name="cs_tel" oninput="if(value.length>11)value=value.slice(0,11)"
						class="form-control" aria-describedby="helpBlock2">
					<label>单位</label>
					<input type="text" name="cs_unit" class="form-control" id="inputSuccess1"
						aria-describedby="helpBlock2">
					<label>联系人</label>
					<input type="text" name="cs_name" class="form-control" id="inputSuccess1"
						aria-describedby="helpBlock2">
					<button style="margin-top: 20px; width: 49%;" type="submit" class="btn btn-success">新增客户</button>
					<button style="margin-top: 20px; width: 49%; float: right;" type="reset"
						class="btn btn-danger">清空</button>
				</form>
			</div>
		</div>
		<!-- /子功能页面 -->
	</div>

	<!-- 表单验证 -->
	<script type="text/javascript">
		function beforeSubmit(form) {
			var regEn = /[`~!@#$%^&*()_+<>?:"{},.\/;'[\]]/im,
				regCn = /[·！#￥（——）：；“”‘、，|《。》？、【】[\]]/im;
			var flag = true;
			if (form.cs_attitude.value == '') {
				flag = false;
			}
			if (form.cs_postCode.value == '') {
				flag = false;
			}
			if (form.cs_address.value == '' || regEn.test(form.cs_address.value) || regCn.test(form.cs_address.value)) {
				flag = false;
			}
			if (form.cs_tel.value == '') {
				flag = false;
			}
			if (form.cs_unit.value == '' || regEn.test(form.cs_unit.value) || regCn.test(form.cs_unit.value)) {
				flag = false;
			}
			if (form.cs_name.value == '' || regEn.test(form.cs_name.value) || regCn.test(form.cs_name.value)) {
				flag = false;
			}

			if (flag == false) {
				$('#error_text').text('请填写完整相关信息且不能包含特殊字符');
				$('#context_error').modal('show');
				return false;
			}

			var re = /^[0-9]{6}$/;
			if (!re.test(form.cs_postCode.value)) {
				$('#error_text').text('请输入完整的邮编');
				$('#context_error').modal('show');
				return false;
			}

			var re = /^1[3|4|5|7|8]\d{9}$/;
			if (!re.test(form.cs_tel.value)) {
				$('#error_text').text('请输入正确的手机号码');
				$('#context_error').modal('show');
				return false;
			}

			return true;
		}
	</script>

	<!-- 表单验证提示框 -->
	<div class="modal fade" id=context_error tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">提示</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-warning" role="alert" style="margin-bottom: 0;">
						<span id="error_text"></span>
					</div>
				</div>
				<div class="modal-footer" style="margin-top: 0;">
					<button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 表单验证提示框 -->
</body>

</html>